[Unit]
Description=Mount unit for gnome-calculator, revision 544
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-calculator_544.snap
Where=/snap/gnome-calculator/544
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
