[Unit]
Description=Mount unit for gnome-system-monitor, revision 127
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-system-monitor_127.snap
Where=/snap/gnome-system-monitor/127
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
